.container {
  width: 1600px;
  margin: 0 auto;
  border-left: 2px solid rgb(241, 46, 46);
  border-right: 2px solid rgb(241, 46, 46);
}

body {
  background-color: rgb(221, 244, 254);
}

.header__btn--exit,
.header__btn--create {
  font-size: 19px;
}

.header__btn--create {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(221, 244, 254);
  border-bottom: 1px dashed rgb(246, 31, 31);
  padding-top: 13px;
  padding-bottom: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(221, 244, 254);
  gap: 30px;
  border-bottom: 1px dashed rgb(246, 31, 31);
}

.main__filters {
  margin-top: 20px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.main__section--filter {
  border-bottom: 1px dashed rgb(246, 31, 31);
  width: 100%;
}

.filter__text {
  font-size: 18px;
}

.main__filters-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.main__text {
  color: black;
  font-size: 43px;
  display: none;
  text-align: center;
  margin-top: 27px;
}

.main__filters--text {
  margin: 0;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 43px;
}

.card {
  width: 300px;
  height: fit-content;
  background-color: #a3d2fc;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.card__buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.card__button--close {
  background: none;
  border: none;
  color: #cc0c0c;
  position: absolute;
  right: 0;
  top: 4px;
}

.form__authorization {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.form__content {
  background-color: white;
  margin: 14% auto;
  padding: 22px;
  border: 1px solid #888;
  width: 33%;
  position: relative;
}

.form__close {
  border: none;
  background-color: white;
  position: absolute;
  top: 15px;
  right: 3px;
}

.modal__error {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  background-color: white;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  position: relative;
}

.modal-header {
  position: relative;
}

.btn-close {
  position: absolute;
  top: -8px;
  right: -10px;
}

.modal__text--error {
  margin-top: 7px;
}

.header__btn-modal-create {
  display: none;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.modal__card--edit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.second-form {
  background-color: white;
  margin: 6% auto;
  padding: 19px;
  border: 1px solid #888;
  width: 33%;
  position: relative;
}

.form-name {
  font-size: 24px;
  margin-bottom: 14px;
  text-align: center;
}

.form-label {
  margin-bottom: 10px;
  margin-top: 7px;
}

.card__name,
.card__doctor {
  margin: 0;
}

.card__button {
  padding: 8px;
  background-color: #00a5fa;
  border: none;
  border-radius: 5px;
}

.card__button--more {
  color: black;
}

.card__button--edit {
  color: white;
}

.hidden {
  display: none;
}

.show-more-text {
  display: block;
  margin-top: 7px;
}

.btn-danger {
  display: none;
}

.btn__container {
  display: flex;
  gap: 10px;
}

.header__btn--enter {
  width: 85px;
  height: 45px;
  background: rgb(192, 238, 254);
  border: 2px solid royalblue;
  border-radius: 8px;
  font-size: 20px;
}

.main__desk {
  display: block;
}
